version: '3.1'

services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "127.0.0.1:8086:8086"
    restart: always
    env_file:
      - 'env.influxdb'
    volumes:
      - /srv/docker/influxdb/data:/var/lib/influxdb

  kapacitor:
    image: kapacitor
    container_name: kapacitor
    restart: always
    volumes:
      - /srv/docker/kapacitor/data:/var/lib/kapacitor
      - ./config/kapacitor.conf:/etc/kapacitor/kapacitor.conf
    links:
      - influxdb


  chronograf:
    image: chronograf
    container_name: kapacitor
    restart: always
    volumes:
      - /srv/docker/kapacitor/data:/var/lib/chronograf
    ports:
      - 127.0.0.1:8087:8888
    links:
      - influxdb

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "127.0.0.1:3000:3000"
    env_file:
      - 'env.grafana'
    user: "0"
    restart: always
    links:
      - influxdb
    volumes:
      # Data persistency
      # sudo mkdir -p /srv/docker/grafana/data; chown 472:472 /srv/docker/grafana/data
      - /srv/docker/grafana/data:/var/lib/grafana
      - ./config/grafana.ini:/etc/grafana/grafana.ini
