

[global_tags]


[agent]
  interval = "10s"
  round_interval = true

  metric_batch_size = 1000
  metric_buffer_limit = 10000

  collection_jitter = "0s"

  flush_interval = "10s"
  flush_jitter = "0s"

  precision = ""
  debug = false
  quiet = false
  hostname = ""
  omit_hostname = false



[[outputs.influxdb]]
  urls = ["http://127.0.0.1:8086"] 
  database = "telegraf" 

  retention_policy = ""
  write_consistency = "any"

  timeout = "5s"
  username = "admin"
  password = "<INFLUXDB_ADMIN_USER_PASSWORD>"

  insecure_skip_verify = false




































[[inputs.cpu]]
  percpu = true
  totalcpu = true
  fielddrop = ["time_*"]


[[inputs.disk]]

  ignore_fs = ["tmpfs", "devtmpfs"]


[[inputs.diskio]]


[[inputs.kernel]]


[[inputs.mem]]


[[inputs.processes]]


[[inputs.swap]]


[[inputs.system]]








































































 [[inputs.net]]
    fieldpass = [ "bytes*" ]


[[inputs.net_response]]


 [[inputs.netstat]]










































































[[inputs.tcp_listener]]


[[inputs.udp_listener]]



 [[inputs.nvidia_smi]]

 [[inputs.docker]]

 [[inputs.temp]]

 [[inputs.sensors]]